footer {
    padding-top: 120px;
    background-color: $blueColor2;
    .footer-logo {
        margin-top: -35px;
    }
    .title-footer {
        font-size: 28px;
        font-weight: 600;
        color: $ofWhite;
        letter-spacing: 1.5px;
        text-align: center;
    }
    .social {
        display: flex;
        justify-content: space-around;
        .nav-item {
            .nav-link {
                // padding-right: 50px;
                i {
                    font-size: 5px;
                }
            }
        }
    }
    .title-main-cat {
        color: $ofWhite;
        font-weight: bold;
        letter-spacing: 1.5;
        margin-bottom: 0;
    }
    .nav-iopener {
        padding-left: 0;
        margin-bottom: 20px;
        .nav-item {
            .nav-link {
                padding-left: 0;
                color: $ofWhite;
                padding-bottom: 0;
                font-size: 10px;
            }
        }
        &.contact {
            padding-left: 30px;
            .nav-item {
                .nav-link {
                    display: flex;
                    align-items: baseline;
                    padding-bottom: 5px;
                    i {
                        padding-right: 9px;
                    }
                    .mobile-num {
                        span {
                            color: $redColor;
                        }
                    }
                }
            }
        }
    }
    .copy {
        margin-top: 10px;
        padding: 10px 0;
        // border-top: 1px solid $grayColor;
        .text {
            color: $ofWhite;
            // text-align: ;
            font-size: 7px;
        }
    }
}